/* --> HEADER */
.navbar2
{
	height:100px:
}

.myPicture .img
{
	padding-top:25px;
    height: 500px;
    width:5000px;   
}



/* --> CENTERED */
.centered 
{
    text-align: center;
    font-size: 20px;
	
}

.a
{
    text-align: justify;
}



/* --> FOOTER */
.footer 
{
	padding-top:5px;
    text-align: center;
    font-size: 10px;
	center;
	
}























    

